@{
    Layout = "~/Views/Shared/Client_Layout.cshtml";
    ViewData["Title"] = "Home Page - Anna Beauty";
}



<main id="content" class="wrapper layout-page">
    <section>
        <div class="slick-slider hero hero-header-12"
             data-slick-options="{&#34;arrows&#34;:false,&#34;autoplay&#34;:true,&#34;cssEase&#34;:&#34;ease-in-out&#34;,&#34;dots&#34;:false,&#34;fade&#34;:true,&#34;infinite&#34;:true,&#34;slidesToShow&#34;:1,&#34;speed&#34;:600}">
            <div class="vh-100 d-flex align-items-center">
                <div class="z-index-2 container container-xxl py-21 pt-lg-10 pb-lg-11 text-center">
                    <div class="hero-content">
                        <div data-animate="fadeInDown">
                            <h1 class="mb-7 hero-title-3 text-white fw-500 mx-auto hero-540 font-primary">
                                Be Your Kind of Beauty
                            </h1>
                        </div>
                        <a href="#" data-animate="fadeInUp" class="btn btn-white btn-lg">
                            Shop Now
                        </a>
                    </div>
                </div>
                <div class="lazy-bg bg-overlay position-absolute z-index-1 w-100 h-100  "
                     data-bg-src="@Url.Content("~/assets/images/flowerknows-slider.webp")">
                </div>
            </div>
            <div class="vh-100 d-flex align-items-center">
                <div class="z-index-2 container container-xxl py-21 pt-lg-10 pb-lg-11 text-center">
                    <div class="hero-content">
                        <div data-animate="fadeInDown">
                            <h1 class="mb-7 hero-title-3 text-white fw-500 mx-auto hero-540 font-primary">
                                Be Your Kind of Beauty
                            </h1>
                        </div>
                        <a href="#" data-animate="fadeInUp" class="btn btn-white btn-lg">
                            Shop Now
                        </a>
                    </div>
                </div>
                <div class="lazy-bg bg-overlay position-absolute z-index-1 w-100 h-100  "
                     data-bg-src="@Url.Content("~/assets/images/flowerknows-slider-02.webp")">
                </div>
            </div>
            <div class="vh-100 d-flex align-items-center">
                <div class="z-index-2 container container-xxl py-21 pt-lg-10 pb-lg-11 text-center">
                    <div class="hero-content">
                        <div data-animate="fadeInDown">
                            <h1 class="mb-7 hero-title-3 text-white fw-500 mx-auto hero-540 font-primary">
                                Be Your Kind of Beauty
                            </h1>
                        </div>
                        <a href="#" data-animate="fadeInUp" class="btn btn-white btn-lg">
                            Shop Now
                        </a>
                    </div>
                </div>
                <div class="lazy-bg bg-overlay position-absolute z-index-1 w-100 h-100  "
                     data-bg-src="@Url.Content("~/assets/images/flowerknows-slider-03.webp")">
                </div>
            </div>
        </div>
    </section>

    <section id="shop-category-overlay" class="pt-lg-16 pt-15">
        <div class="container container-xxl">
            <div class="row align-items-end">
                <div class="col-md-6 mb-5 mb-md-11" data-animate="fadeInUp">
                    <h3 class="fs-3 mb-0 fw-normal font-primary">Shop Categories</h3>
                </div>
                <div class="col-md-6 mb-11 text-md-end" data-animate="fadeInUp">
                    <a href="#" class="btn btn-link p-0 mt-2 fw-semibold text-decoration-none">
                        Shop All Categories
                        <i class="icon fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="row gx-30px gy-30px">
                <div class="col-md-6 col-xl-3" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 hover-zoom-in hover-shine">
                        <img class="lazy-image card-img object-fit-cover " src="#"
                             data-src="@Url.Content("~/assets/images/eyes.webp")" width="330" height="450" alt="Eyes">
                        <div class="card-img-overlay d-inline-flex flex-column p-8 justify-content-end text-center bg-dark bg-opacity-25">
                            <h3 class="card-title text-white lh-45px font-primary fw-normal fs-3">Eyes</h3>
                            <div>
                                <a href="#"
                                   class="btn btn btn-link p-0 fw-semibold text-white border-bottom border-0 rounded-0 border-currentColor text-decoration-none">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 hover-zoom-in hover-shine">
                        <img class="lazy-image card-img object-fit-cover " src="#"
                             data-src="@Url.Content("~/assets/images/lips.webp")" width="330" height="450" alt="Lips">
                        <div class="card-img-overlay d-inline-flex flex-column p-8 justify-content-end text-center bg-dark bg-opacity-25">
                            <h3 class="card-title text-white lh-45px font-primary fw-normal fs-3">
                                Lips
                            </h3>
                            <div>
                                <a href="#"
                                   class="btn btn btn-link p-0 fw-semibold text-white border-bottom border-0 rounded-0 border-currentColor text-decoration-none">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 hover-zoom-in hover-shine">
                        <img class="lazy-image card-img object-fit-cover " src="#"
                             data-src="@Url.Content("~/assets/images/accessories_applicators.webp")" width="690" height="450"
                             alt="Accessories & Applicators">
                        <div class="card-img-overlay d-inline-flex flex-column p-8 justify-content-end text-center bg-dark bg-opacity-25">
                            <h3 class="card-title text-white lh-45px font-primary fw-normal fs-3">
                                Accessories & Applicators
                            </h3>
                            <div>
                                <a href="#"
                                   class="btn btn btn-link p-0 fw-semibold text-white border-bottom border-0 rounded-0 border-currentColor text-decoration-none">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="our_best_seller_2">
        <div class="container container-xxl py-lg-18 pt-15 pb-16">
            <div class="row align-items-center mb-10 pb-3 mt-2">
                <div class="col-sm-8" data-animate="fadeInUp">
                    <h2 class="h3 mb-0 font-primary fw-normal">Our Bestsellers</h2>
                </div>
                <div class="col-sm-4 text-sm-end" data-animate="fadeInUp">
                    <a href="#"
                       class="btn btn-link p-0 text-body-emphasis text-decoration-none fw-semibold text-primary-hover">
                        Shop All Products
                        <i class="icon fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="slick-slider"
                 data-slick-options="{&#34;arrows&#34;:true,&#34;dots&#34;:false,&#34;responsive&#34;:[{&#34;breakpoint&#34;:1560,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:5}},{&#34;breakpoint&#34;:1200,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:3}},{&#34;breakpoint&#34;:992,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:2}},{&#34;breakpoint&#34;:576,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:1}}],&#34;slidesToShow&#34;:5}"
                 data-animate="fadeInUp">
                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Midsummer Fairytales Embossed Five Color Makeup Palette">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-01.webp")"
                                     class="img-fluid lazy-image w-100"
                                     alt="Midsummer Fairytales Embossed Five Color Makeup Palette" width="330"
                                     height="440">
                            </a>

                            <div class="position-absolute product-flash z-index-2 ">
                                <span class="badge badge-product-flash on-sale bg-primary">-25%</span>
                            </div>

                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                <del class=" text-body fw-500 me-4 fs-13px">$40.00</del>
                                <ins class="text-decoration-none">$30.00</ins>
                            </span>

                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Midsummer Fairytales Embossed Five Color Makeup Palette
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 80%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Midsummer Fairytales Liquid Highlighter (Multichrome)">

                                <img src="#" data-src="@Url.Content("~/assets/images/product-02.webp")"
                                     class="img-fluid lazy-image w-100"
                                     alt="Midsummer Fairytales Liquid Highlighter (Multichrome)" width="330"
                                     height="440">
                            </a>

                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                $20.00
                            </span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Midsummer Fairytales Liquid Highlighter (Multichrome)
                                </a>
                            </h4>
                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 100%">
                                        <span class="star">

                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">

                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Swan Ballet Six Color Makeup Palette">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-03.webp")"
                                     class="img-fluid lazy-image w-100" alt="Swan Ballet Six Color Makeup Palette"
                                     width="330" height="440">
                            </a>
                            <div class="position-absolute product-flash z-index-2 ">
                                <span class="badge badge-product-flash on-new">New</span>
                            </div>

                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">

                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                $35.00
                            </span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Swan Ballet Six Color Makeup Palette
                                </a>
                            </h4>
                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 100%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <!-- <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg> -->
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <!-- <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg> -->
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>

                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Little Angel Matte Lipstick">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-04.webp")"
                                     class="img-fluid lazy-image w-100" alt="Little Angel Matte Lipstick" width="330"
                                     height="440">
                            </a>

                            <div class="position-absolute product-flash z-index-2 ">
                                <span class="badge badge-product-flash on-sale bg-primary">-24%</span>
                            </div>

                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                <del class=" text-body fw-500 me-4 fs-13px">$25.00</del>
                                <ins class="text-decoration-none">$19.00</ins>
                            </span>

                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Little Angel Matte Lipstick
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 80%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Midsummer Fairytales Coating Lip Lacquer">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-05.webp")"
                                     class="img-fluid lazy-image w-100"
                                     alt="Midsummer Fairytales Coating Lip Lacquer" width="330" height="440">
                            </a>
                            <div class="position-absolute product-flash z-index-2 ">
                                <span class="badge badge-product-flash on-sale bg-primary">-26%</span>
                            </div>

                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                <del class=" text-body fw-500 me-4 fs-13px">$39.00</del>
                                <ins class="text-decoration-none">$29.00</ins>
                            </span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Midsummer Fairytales Coating Lip Lacquer
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 80%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Little Angel Embossed Highlighter">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-06.webp")"
                                     class="img-fluid lazy-image w-100" alt="Little Angel Embossed Highlighter"
                                     width="330" height="440">
                            </a>
                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">$29.00</span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Little Angel Embossed Highlighter
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 100%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container container-xxl">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-5" data-animate="fadeInUp">
                    <img src="#" data-src="@Url.Content("~/assets/images/countdown-flowerknows.webp")" alt="Countdown"
                         class="img-fluid lazy-image" width="570" height="570">
                </div>

                <div class="col-lg-6 col-xl-7 pt-13 pt-lg-0 ps-lg-16" data-animate="fadeInUp">
                    <div class="text-left">
                        <p class="fs-14px mb-6 ls-1 text-muted fw-bolder">
                            SPECIAL OFFER <span class="badge bg-primary fs-15px py-3 px-4 ms-4">-20%</span>
                        </p>
                        <h2 class="mb-8 fs-1 fw-normal font-primary">Blush & Lilac Dream Set</h2>
                        <p class="fs-18px me-md-25 me-lg-0 me-xl-25 mb-10">
                            A masterpiece of exquisite beauty unfolds, turn you into a forest fairy, with colors
                            that adorn the summer of bold girls.
                        </p>
                    </div>
                    <div class="d-flex countdown ms-n4 ms-md-n7" data-countdown="true"
                         data-countdown-end="Jan 27, 2024 18:24:25">
                        <div class="countdown-item text-center px-md-7 px-4 fs-1">
                            <span class="day fw-normal text-primary font-primary"></span>
                        </div>
                        <div class="separate fw-normal fs-1 text-primary">:</div>
                        <div class="countdown-item text-center px-md-7 px-4 fs-1">
                            <span class="hour fw-normal text-primary font-primary"></span>
                        </div>
                        <div class="separate fw-normal fs-1 text-primary">:</div>
                        <div class="countdown-item text-center px-md-7 px-4 fs-1">
                            <span class="minute fw-normal text-primary font-primary"></span>
                        </div>
                        <div class="separate fw-normal fs-1 text-primary">:</div>
                        <div class="countdown-item text-center px-md-7 px-4 fs-1">
                            <span class="second fw-normal text-primary font-primary"></span>
                        </div>
                    </div>
                    <a href="#"
                       class="mt-11 btn btn-dark btn-hover-bg-primary btn-hover-border-primary transition-all-1 shadow px-lg-13">
                        Add to cart
                        <span class="px-3 fw-normal">|</span> $116.00
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="under_25">
        <div class="container container-xxl pt-lg-19 pt-15 pb-6">
            <div class="row align-items-center mb-10 pb-3 mt-2">
                <div class="col-sm-8" data-animate="fadeInUp">
                    <h2 class="h3 mb-0 font-primary fw-normal">Under $25</h2>
                </div>

                <div class="col-sm-4 text-sm-end" data-animate="fadeInUp">
                    <a href="#"
                       class="btn btn-link p-0 text-body-emphasis text-decoration-none fw-semibold text-primary-hover">
                        Shop All Products
                        <i class="icon fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="slick-slider"
                 data-slick-options="{&#34;arrows&#34;:true,&#34;dots&#34;:false,&#34;responsive&#34;:[{&#34;breakpoint&#34;:1560,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:5}},{&#34;breakpoint&#34;:1200,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:3}},{&#34;breakpoint&#34;:992,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:2}},{&#34;breakpoint&#34;:576,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:1}}],&#34;slidesToShow&#34;:5}"
                 data-animate="fadeInUp">
                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Butterfly Cloud Collar Embossed Highlight & Contour Palette">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-07.webp")"
                                     class="img-fluid lazy-image w-100"
                                     alt="Butterfly Cloud Collar Embossed Highlight & Contour Palette" width="330"
                                     height="440">
                            </a>

                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>

                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">$29.00</span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Butterfly Cloud Collar Embossed Highlight & Contour Palette
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 100%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Butterfly Cloud Collar Rouge Box Highlighting & Blush Dou Powder">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-08.webp")"
                                     class="img-fluid lazy-image w-100"
                                     alt="Butterfly Cloud Collar Rouge Box Highlighting & Blush Dou Powder"
                                     width="330" height="440">
                            </a>
                            <div class="position-absolute product-flash z-index-2 ">
                                <span class="badge badge-product-flash on-sale bg-primary">-26%</span>
                            </div>
                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                <del class=" text-body fw-500 me-4 fs-13px">$39.00</del>
                                <ins class="text-decoration-none">$29.00</ins>
                            </span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Butterfly Cloud Collar Rouge Box Highlighting & Blush Dou Powder
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 80%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Butterfly Cloud Collar Embossed Six Color Makeup Palette">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-09.webp")"
                                     class="img-fluid lazy-image w-100"
                                     alt="Butterfly Cloud Collar Embossed Six Color Makeup Palette" width="330"
                                     height="440">
                            </a>
                            <div class="position-absolute product-flash z-index-2 ">
                                <span class="badge badge-product-flash on-sale bg-primary">-26%</span>
                            </div>
                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>

                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                <del class=" text-body fw-500 me-4 fs-13px">$39.00</del>
                                <ins class="text-decoration-none">$29.00</ins>
                            </span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Butterfly Cloud Collar Embossed Six Color Makeup Palette
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 80%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Butterfly Cloud Collar Hand Mirror">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-10.webp")"
                                     class="img-fluid lazy-image w-100" alt="Butterfly Cloud Collar Hand Mirror"
                                     width="330" height="440">
                            </a>
                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">$29.00</span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Butterfly Cloud Collar Hand Mirror
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 100%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Flower Knows Butterfly Cloud Collar Collection Glossy Lipstick">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-11.webp")"
                                     class="img-fluid lazy-image w-100"
                                     alt="Flower Knows Butterfly Cloud Collar Collection Glossy Lipstick" width="330"
                                     height="440">
                            </a>

                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">$29.00</span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Flower Knows Butterfly Cloud Collar Collection Glossy Lipstick
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 100%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="shop/product-details-v1.html" class="hover-zoom-in d-block"
                               title="Butterfly Cloud Collar Angeled Powder Brush">
                                <img src="#" data-src="@Url.Content("~/assets/images/product-12.webp")"
                                     class="img-fluid lazy-image w-100"
                                     alt="Butterfly Cloud Collar Angeled Powder Brush" width="330" height="440">
                            </a>
                            <div class="position-absolute product-flash z-index-2 ">
                                <span class="badge badge-product-flash on-sale bg-primary">-26%</span>
                            </div>
                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <i class="icon fs-6 icon-shopping-bag-open-light fa-solid fa-cart-shopping"></i>
                                </a>
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view"
                                   href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                          class="d-flex align-items-center justify-content-center">
                                        <i class="icon fs-6 icon-eye-light fa-regular fa-eye"></i>
                                    </span>
                                </a>
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare"
                                   href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <i class="icon fs-6 icon-arrows-left-right-light fa-solid fa-arrow-right-arrow-left"></i>
                                </a>
                            </div>
                        </figure>

                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                <del class=" text-body fw-500 me-4 fs-13px">$39.00</del>
                                <ins class="text-decoration-none">$29.00</ins>
                            </span>
                            <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="shop/product-details-v1.html">
                                    Butterfly Cloud Collar Angeled Powder Brush
                                </a>
                            </h4>

                            <div class="d-flex align-items-center fs-12px justify-content-center">
                                <div class="rating">
                                    <div class="empty-stars">
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star-o fa-regular fa-star"></i>
                                        </span>
                                    </div>

                                    <div class="filled-stars" style="width: 80%">
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                        <span class="star">
                                            <i class="icon star fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container container-xxl pt-lg-20 pt-13 pb-lg-21 pb-16">
            <div class="mb-md-15 mb-11">
                <div class="text-center" data-animate="fadeInUp">
                    <h2 class="font-primary fw-normal">Why Shop with Anna?</h2>
                </div>
            </div>

            <div class="row gy-30px">
                <div class="col-md-4" data-animate="fadeInUp">
                    <div>
                        <div class="d-flex justify-content-center">
                            <img class="lazy-image img-fluid light-mode-img" src="#"
                                 data-src="@Url.Content("~/assets/images/image-box-11.png")" width="102" height="118"
                                 alt="Guaranteed PURE">
                            <img class="lazy-image dark-mode-img img-fluid" src="#"
                                 data-src="@Url.Content("~/assets/images/image-box/image-box-white-11.png")" width="102" height="118"
                                 alt="Guaranteed PURE">
                        </div>

                        <div class="card-body text-center pt-7 mt-3">
                            <h3 class="fs-4 mb-6">Guaranteed PURE</h3>
                            <p class="mb-0 px-lg-6">
                                All Grace formulations adhere to strict purity standards and
                                will never contain harsh or toxic ingredients
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-animate="fadeInUp">
                    <div>
                        <div class="d-flex justify-content-center">
                            <img class="lazy-image img-fluid light-mode-img" src="#"
                                 data-src="@Url.Content("~/assets/images/image-box-02.png")" width="102" height="118"
                                 alt="Completely Cruelty-Free">
                            <img class="lazy-image dark-mode-img img-fluid" src="#"
                                 data-src="@Url.Content("~/assets/images/image-box/image-box-white-02.png")" width="102" height="118"
                                 alt="Completely Cruelty-Free">
                        </div>
                        <div class="card-body text-center pt-7 mt-3">
                            <h3 class="fs-4 mb-6">Completely Cruelty-Free</h3>
                            <p class="mb-0 px-lg-6">
                                All Grace formulations adhere to strict purity standards and
                                will never contain harsh or toxic ingredients
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-animate="fadeInUp">
                    <div>
                        <div class="d-flex justify-content-center">
                            <img class="lazy-image img-fluid light-mode-img" src="#"
                                 data-src="@Url.Content("~/assets/images/image-box-03.png")" width="102" height="118"
                                 alt="Ingredient Sourcing">
                            <img class="lazy-image dark-mode-img img-fluid" src="#"
                                 data-src="@Url.Content("~/assets/images/image-box/image-box-white-03.png")" width="102" height="118"
                                 alt="Ingredient Sourcing">
                        </div>
                        <div class="card-body text-center pt-7 mt-3">
                            <h3 class="fs-4 mb-6">Ingredient Sourcing</h3>
                            <p class="mb-0 px-lg-6">
                                All Grace formulations adhere to strict purity standards and
                                will never contain harsh or toxic ingredients
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container container-xxl">
            <div class="row gy-30px">
                <div class="col-lg-6" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 banner-01 hover-zoom-in hover-shine">
                        <img class="lazy-image object-fit-cover card-img" src="#"
                             data-src="@Url.Content("~/assets/images/banner-01.webp")" width="690" height="420"
                             alt="Midsummer Fairytales Hair Clip">
                        <div class="card-img-overlay d-inline-flex flex-column p-md-12 m-md-2 p-8">
                            <h6 class="card-subtitle ls-1 text-white mb-4">NEW COLLECTION</h6>
                            <h3 class="card-title lh-45px fw-normal font-primary text-white mw-75 pe-xl-25 pe-lg-0 pe-md-25 fs-3 pe-5">
                                Midsummer Fairytales Hair Clip
                            </h3>
                            <div class="mt-7">
                                <a href="#" class="btn btn-white px-6 shadow-sm">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 banner-01 hover-zoom-in hover-shine" data-bs-theme="light">
                        <img class="lazy-image object-fit-cover card-img" src="#"
                             data-src="@Url.Content("~/assets/images/banner-02.webp")" width="690" height="420"
                             alt="25% off Everything">
                        <div class="card-img-overlay d-inline-flex flex-column p-md-12 m-md-2 p-8">
                            <h3 class="card-title lh-45px fw-normal font-primary fs-3 pe-15">25% off Everything</h3>
                            <p class="card-text fs-15px text-body-emphasis mw-md-60 pe-xl-20">
                                Makeup with extended
                                range in colors for every human.
                            </p>
                            <div class="mt-7"><a href="#" class="btn btn-white px-8 shadow-sm">Shop Sale</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
