@model IEnumerable<Shop.Models.Category>

@{
    ViewData["Title"] = "Category";
}

@* <h1>Index</h1> *@

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.CategoryName) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Description) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Status) *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@* @foreach (var item in Model) { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.CategoryName) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Description) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Status) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
@*                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
@*                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
@*             </td> *@
@*         </tr> *@
@* } *@
@*     </tbody> *@
@* </table> *@


<div class="pcoded-overlay-box"></div>
<div class="pcoded-container navbar-wrapper">

    <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">

            <div class="navbar-logo">
                <a class="mobile-menu" id="mobile-collapse" href="/Admin">
                    @* <i data-feather="toggle-right"></i> *@
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21.6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-toggle-right"><rect x="1" y="5" width="22" height="14" rx="7" ry="7"></rect><circle cx="16" cy="12" r="3"></circle></svg>
                </a>
                <a href="https://colorlib.com//polygon/adminty/default/index.html">
                    <img class="img-fluid" src="~/images/logo.png" alt="Theme-Logo" />
                </a>
                <a class="mobile-options">
                    <i class="feather icon-more-horizontal"></i>
                </a>
            </div>

            <div class="navbar-container container-fluid">
                <ul class="nav-left">
                    <li class="header-search">
                        <div class="main-search morphsearch-search">
                            <div class="input-group">
                                <span class="input-group-addon search-close">
                                    <i class="feather icon-x"></i>
                                </span>
                                <input type="text" class="form-control">
                                <span class="input-group-addon search-btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#!" onclick="javascript:toggleFullScreen()">
                            <i class="fa-solid fa-expand"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="header-notification">
                        <div class="dropdown-primary dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa-regular fa-bell"></i>
                            </div>
                            <ul class="show-notification notification-view dropdown-menu"
                                data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <li>
                                    <h6>Notifications</h6>
                                    <label class="label label-danger">New</label>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="images/avatar-4.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">John Doe</h5>
                                            <p class="notification-msg">
                                                Lorem ipsum dolor sit amet, consectetuer
                                                elit.
                                            </p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="images/avatar-3.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Joseph William</h5>
                                            <p class="notification-msg">
                                                Lorem ipsum dolor sit amet, consectetuer
                                                elit.
                                            </p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="images/avatar-4.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Sara Soudein</h5>
                                            <p class="notification-msg">
                                                Lorem ipsum dolor sit amet, consectetuer
                                                elit.
                                            </p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-notification">
                        <div class="dropdown-primary dropdown">
                            <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                <i class="fa-regular fa-message"></i>
                            </div>
                        </div>
                    </li>
                    <li class="user-profile header-notification">
                        <div class="dropdown-primary dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                <img src="images/avatar-4.png" class="img-radius"
                                     alt="User-Profile-Image">
                                <span>Anna</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="show-notification profile-notification dropdown-menu"
                                data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <li>
                                    <a href="#!">
                                        <i class="feather icon-settings"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="https://colorlib.com//polygon/adminty/default/user-profile.html">
                                        <i class="feather icon-user"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="https://colorlib.com//polygon/adminty/default/email-inbox.html">
                                        <i class="fa-regular fa-envelope"></i> My Messages
                                    </a>
                                </li>
                                <li>
                                    <a href="https://colorlib.com//polygon/adminty/default/auth-lock-screen.html">
                                        <i class="feather icon-lock"></i> Lock Screen
                                    </a>
                                </li>
                                <li>
                                    <a href="https://colorlib.com//polygon/adminty/default/auth-normal-sign-in.html">
                                        <i class="feather icon-log-out"></i> Logout
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar chat start -->
    <div id="sidebar" class="users p-chat-user showChat">
        <div class="had-container">
            <div class="card card_main p-fixed users-main">
                <div class="user-box">
                    <div class="chat-inner-header">
                        <div class="back_chatBox">
                            <div class="right-icon-control">
                                <input type="text" class="form-control  search-text" placeholder="Search Friend"
                                       id="search-friends">
                                <div class="form-icon">
                                    <i class="icofont icofont-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-friend-list">
                        <div class="media userlist-box" data-id="1" data-status="online"
                             data-username="Josephin Doe" data-toggle="tooltip" data-placement="left"
                             title="Josephin Doe">
                            <a class="media-left" href="#!">
                                <img class="media-object img-radius img-radius" src="images/avatar-3.jpg"
                                     alt="Generic placeholder image ">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Josephin Doe</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="2" data-status="online"
                             data-username="Lary Doe" data-toggle="tooltip" data-placement="left"
                             title="Lary Doe">
                            <a class="media-left" href="#!">
                                <img class="media-object img-radius" src="images/avatar-2.jpg"
                                     alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Lary Doe</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice"
                             data-toggle="tooltip" data-placement="left" title="Alice">
                            <a class="media-left" href="#!">
                                <img class="media-object img-radius" src="images/avatar-4.png"
                                     alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Alice</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="4" data-status="online" data-username="Alia"
                             data-toggle="tooltip" data-placement="left" title="Alia">
                            <a class="media-left" href="#!">
                                <img class="media-object img-radius" src="images/avatar-3.jpg"
                                     alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Alia</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="5" data-status="online" data-username="Suzen"
                             data-toggle="tooltip" data-placement="left" title="Suzen">
                            <a class="media-left" href="#!">
                                <img class="media-object img-radius" src="images/avatar-2.jpg"
                                     alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Suzen</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar inner chat start-->
    <div class="showChat_inner">
        <div class="media chat-inner-header">
            <a class="back_chatBox">
                <i class="feather icon-chevron-left"></i> Josephin Doe
            </a>
        </div>
        <div class="media chat-messages">
            <a class="media-left photo-table" href="#!">
                <img class="media-object img-radius img-radius m-t-5" src="images/avatar-3.jpg"
                     alt="Generic placeholder image">
            </a>
            <div class="media-body chat-menu-content">
                <div class="">
                    <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                    <p class="chat-time">8:20 a.m.</p>
                </div>
            </div>
        </div>
        <div class="media chat-messages">
            <div class="media-body chat-menu-reply">
                <div class="">
                    <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                    <p class="chat-time">8:20 a.m.</p>
                </div>
            </div>
            <div class="media-right photo-table">
                <a href="#!">
                    <img class="media-object img-radius img-radius m-t-5" src="images/avatar-4.png"
                         alt="Generic placeholder image">
                </a>
            </div>
        </div>
        <div class="chat-reply-box p-b-20">
            <div class="right-icon-control">
                <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
                <div class="form-icon">
                    <i class="feather icon-navigation"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar inner chat end-->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <nav class="pcoded-navbar">
                <div class="pcoded-inner-navbar main-menu">
                    <div class="pcoded-navigatio-lavel">Navigation</div>
                    <ul class="pcoded-item pcoded-left-item">
                        <li class="">
                            <a href="https://colorlib.com//polygon/adminty/default/navbar-light.html">
                                <span class="pcoded-micon"><i class="fa-solid fa-bars"></i></span>
                                <span class="pcoded-mtext">Dashboard</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="https://colorlib.com//polygon/adminty/default/navbar-light.html">
                                <span class="pcoded-micon"><i class="fa-solid fa-layer-group"></i></span>
                                <span class="pcoded-mtext">Category</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://colorlib.com//polygon/adminty/default/navbar-light.html">
                                <span class="pcoded-micon"><i class="fa-brands fa-slack"></i></span>
                                <span class="pcoded-mtext">Product</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://colorlib.com//polygon/adminty/default/navbar-light.html">
                                <span class="pcoded-micon"><i class="fa-regular fa-clipboard"></i></span>
                                <span class="pcoded-mtext">Order</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://colorlib.com//polygon/adminty/default/navbar-light.html">
                                <span class="pcoded-micon"><i class="fa-regular fa-user"></i></span>
                                <span class="pcoded-mtext">User</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://colorlib.com//polygon/adminty/default/navbar-light.html">
                                <span class="pcoded-micon"><i class="fa-regular fa-newspaper"></i></span>
                                <span class="pcoded-mtext">News</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-body">                                
                                <h3>Category Management</h3> 
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Zero config.table start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <p>
                                                        <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Categories")'">
                                                            Create New
                                                        </button>
                                                    </p>
                                                </div>
                                                <div class="card-block">
                                                    <div class="dt-responsive table-responsive">
                                                        <table id="simpletable"
                                                               class="table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>Id</th>
                                                                    <th>Name</th>
                                                                    <th>Description</th>
                                                                    <th>Price</th>
                                                                    <th>In stock</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Id)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.CategoryName)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Description)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Price)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.InStock)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Status)
                                                                        </td>
                                                                        <td>
                                                                            <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit", "Categories", new { id = item.Id })'">
                                                                                Edit
                                                                            </button>  
                                                                            <button class="btn btn-danger"
                                                                                    onclick="openDeleteModal('@Url.Action("Delete", "Categories", new { id = item.Id })')">
                                                                                Delete
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Id</th>
                                                                    <th>Name</th>
                                                                    <th>Description</th>
                                                                    <th>Price</th>
                                                                    <th>In stock</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>

                                                        <!-- Modal Popup -->
                                                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body" id="deleteModalBody">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Zero config.table end -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-body end -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  feather.replace();
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function openDeleteModal(url) {
        $.get(url, function (data) {
            $('#deleteModalBody').html(data);
            $('#deleteModal').modal('show');
        });
    }

    function closeModal() {
        $('#deleteModal').modal('hide');
    }

       $(document).on('submit', 'form', function (e) {
        e.preventDefault();

        const form = $(this);
        $.ajax({
            url: form.attr('action'), 
            method: form.attr('method'), 
            data: form.serialize(), 
            success: function (response) {
                if (response.success) {
                    alert(response.message); 
                    $('#deleteModal').modal('hide'); 
                    location.reload(); 
                } else {
                    alert('Error: ' + response.message);
                }
            },
            error: function () {
                alert('An error occurred while processing the request.');
            }
        });
    });
</script>



